.info {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.movieContainer {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 3rem 0 6rem;
  width: 100%;
  height: 100%;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.genres {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.sinopse {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .movieContainer {
    flex-direction: column;
  }
}