.card {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.container h2 {
  font-size: 1.5rem;
}

.container h2 svg {
  color: var(--red-300);
}

.categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  color: var(--white);
  background: transparent;
  border: 2px solid var(--gray-700);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  border-radius: 8px;
  transition: color background 300ms ease-in-out;
  cursor: pointer;
}

.select:hover {
  color: var(--white);
  background: var(--gray-800);
}