.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--container);
  background-color: var(--gray-800);
  position: relative;
}

header h1 {
  font-size: 2.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.header>a {
  color: var(--white);
}

.header>a span {
  color: var(--red-500);
}

@media screen and (max-width: 768px) {
  .header {
    padding: var(--container-sm);
  }
}